# Variables de entorno para PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=mi_usuario
PGPASSWORD=mi_password
PGDATABASE=marketplace

# O bien puedes usar una sola DATABASE_URL
# DATABASE_URL=postgres://usuario:password@localhost:5432/marketplace

# Secreto para JWT
JWT_SECRET=mi_super_secreto
